<div class="main_component">
    <mat-card>
      <div class="search-bar">
        <form [formGroup]="searchExaminationForm" id="new_examination_form">
            <mat-form-field>
              <input matInput placeholder="Beutaló száma" name="referralNumber" formControlName="referralNumber" >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Taj szám" name="medId" formControlName="medId" >
              </mat-form-field>
            <mat-form-field>
            <mat-select placeholder="Vérvétel típusa" name="type" formControlName="examinationType" >
              <mat-option *ngFor="let type of examinationTypes | keyvalue" [value]="type.key">{{ type.value }}</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="Vizsgálat státusza" name="status" formControlName="examinationStatus" >
                  <mat-option *ngFor="let status of examinationStatus | keyvalue" [value]="status.key">{{ status.value }}</mat-option>
                </mat-select>
                </mat-form-field>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Dátum" formControlName="date" >
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select matInput formControlName="time" name="time" placeholder="Időpont" >
                <mat-option *ngFor="let time of timeSlots | keyvalue"  [value]="time.key" >{{ time.value }}</mat-option>
              </mat-select>
            </mat-form-field>
          <br>
            <button mat-raised-button color="btn-outline-primary" (click)="loadExaminations()">Keresés</button>
            <button mat-raised-button color="btn-outline-primary" (click)="deleteFilters()">Szűrők törlése</button>
          </form>
      </div>
      <br>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-header>
            <mat-card-title>
                Vizsgálati időpontok
            </mat-card-title>
        </mat-card-header>
        <br>
        <div><button class="btn btn-outline-primary" (click)="openPopup()">Új vizsgálati időpont felvétele</button></div>
        <div class="div-flex" *ngIf="examinationResponseByFilter.length">
            <table class="table mat-table">
                <thead>
                <tr>
                    <th scope="col">Beutaló száma</th>
                    <th scope="col">Vérvétel típusa</th>
                    <th scope="col">Vizsgálat státusza</th>
                    <th scope="col">Dátum</th>
                    <th scope="col">Időpont</th>
                    <th scope="col">Vezetéknév</th>
                    <th scope="col">Keresztnév</th>
                    <th scope="col">Taj szám</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
                <tr *ngFor="let examinationResponse of this.pageSlice">
                    <td scope="row">{{examinationResponse.referralNumber}}</td>
                    <td scope="row">{{examinationResponse.type | enumValueByKeyType}}</td>
                    <td scope="row">{{examinationResponse.status | enumValueByKeyStatus}}</td>
                    <td scope="row">{{examinationResponse.date | date }}</td>
                    <td scope="row">{{examinationResponse.time | enumValueByKey }}</td>
                    <td scope="row">{{examinationResponse.lastName}}</td>
                    <td scope="row">{{examinationResponse.firstName}}</td>
                    <td scope="row">{{examinationResponse.medId}}</td>
                    <td scope="row">
                      <a  (click)="openPage(examinationResponse)">
                          <mat-icon>visibility</mat-icon>
                      </a>
                    </td>
                    <td scope="row"><button class="btn btn-outline-primary" [disabled]="!isModifiable(examinationResponse)" (click)="openModifyDialog(examinationResponse)">Módosítás</button></td>
                    <td scope="row"><button class="btn btn-outline-danger" [disabled]="!isModifiable(examinationResponse)" (click)="openDeleteDialog(examinationResponse)">Törlés</button></td>
                </tr>
            </table>
           <!-- <mat-select [ngModel]="selectedPageSize" (ngModelChange)="onChange($event)">
              <mat-option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</mat-option>
            </mat-select>-->
            <mat-paginator 
              [length]="this.examinationResponseByFilter.length" 
              
              [pageSize]="5"  
              (page)="onPageChange($event)">

            </mat-paginator>
         
        </div>
    </mat-card>
    </div>
