<div class ="container">
    <app-buttons 
        (userLoginEvent)="showComponent('login')" 
        (adminLoginEvent)="showComponent('admin_login')" 
        (logoutEvent)="logout()">
    </app-buttons>

    <app-welcome-page *ngIf="componentToShow == 'welcome'">
    </app-welcome-page>

    <app-login *ngIf="componentToShow == 'login'"
        (onSubmitUserLoginEvent)="onLogin($event)" 
        (onSubmitUserRegisterEvent)="onRegister($event)">
    </app-login>
    <app-admin-login *ngIf="componentToShow == 'admin_login'"
        (onSubmitAdminLoginEvent)="onLoginAdmin($event)" 
        (onSubmitAdminRegisterEvent)="onRegisterAdmin($event)">
    </app-admin-login>

    <app-auth-content *ngIf="componentToShow == 'messages'">

    </app-auth-content>
</div>
