<button class="btn btn-primary btn-block mb-4" [routerLink]="'/admin'">Adminisztrátor vagyok</button>
<p-messages [(value)]="messages"></p-messages>
<div class="row justify-content-center">
	<div class="col-4">
	<div class="tab-content">
	  <div>
	    <form (ngSubmit)="onSubmitUserLogin()"  id="login_form" name="wf-form-Login" data-name="Login">

	      <div class="form-outline mb-4">
	        <input type="login" id="username" name= "username" class="form-control" data-name="Username" [(ngModel)]="username" placeholder="Felhasználónév" required />
	      </div>

	      <div class="form-outline mb-4">
	        <input type="password" id="loginPassword" name="password" class="form-control" data-name="Password" [(ngModel)]="password" placeholder="Jelszó" required />
	      </div>

	      <button type="submit" class="btn btn-primary btn-block mb-4" value="Login">Bejelentkezés felhasználóként</button>
		  <button class="btn btn-primary btn-block mb-4" [routerLink]="'/register'">Regisztráció</button>
	    </form>
	  </div>
	</div>
</div>
