<ng-content></ng-content>
<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>
                My appointments
            </mat-card-title>
        </mat-card-header>
        <div><button class="btn btn-outline-primary" (click)="openPopup()">New appointment</button></div>
        <div class="div-flex" *ngIf="examinations.length">
            <table class="table mat-table">
                <thead>
                <tr>
                    <th scope="col">Referral number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
                <tr *ngFor="let examination of examinations">
                    <td scope="row">{{examination.referralNumber}}</td>
                    <td scope="row">{{examination.type}}</td>
                    <td scope="row">{{examination.status }}</td>
                    <td scope="row">{{examination.date | date }}</td>
                    <td scope="row"><button class="btn btn-outline-primary" [routerLink]="''">Modify</button></td>
                    <td scope="row"><button class="btn btn-outline-danger" [routerLink]="''">Delete</button></td>
                </tr>
            </table>
        </div>
    </mat-card>
    </div>

