<ng-content></ng-content>
<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>
                Vizsgálati időpontjaim
            </mat-card-title>
        </mat-card-header>
        <div><button class="btn btn-outline-primary" (click)="openPopup()">Új vizsgálati időpont felvétele</button></div>
        <div class="div-flex" *ngIf="examinations.length">
            <table class="table mat-table" >
                <thead>
                <tr>
                    <th scope="col">Beutaló száma</th>
                    <th scope="col">Vérvétel típusa</th>
                    <th scope="col">Vizsgálat státusza</th>
                    <th scope="col">Dátum</th>
                    <th scope="col">Időpont</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
                <tr *ngFor="let examination of this.pageSlice">
                    <td scope="row">{{examination.referralNumber}}</td>
                    <td scope="row">{{examination.type | enumValueByKeyType}}</td>
                    <td scope="row">{{examination.status | enumValueByKeyStatus}}</td>
                    <td scope="row">{{examination.date | date }}</td>
                    <td scope="row">{{examination.time | enumValueByKey }}</td>
                    <td scope="row">
                        <a  (click)="openPage(examination)">
                            <mat-icon>visibility</mat-icon>
                        </a>
                      </td>
                    <td scope="row"><button class="btn btn-outline-primary" [disabled]="!isModifiable(examination)" (click)="openModifyDialog(examination)">Módosítás</button></td>
                    <td scope="row"><button class="btn btn-outline-danger" [disabled]="!isModifiable(examination)" (click)="openDeleteDialog(examination)">Törlés</button></td>
                </tr>
            </table>
            <mat-paginator 
              [length]="this.examinations.length" 
              
              [pageSize]="5"  
              (page)="onPageChange($event)">

            </mat-paginator>
        </div>
    </mat-card>
    </div>

