
.main_component{
    height: 100vh;
}

mat-card{
    width: 80%;
    height: 80%;
    align-self: center;
}

/*.div-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80%;
}*/

mat-card-header{
    display: initial;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.table-header-even {
    background-color: rgb(201, 206, 213);
}

.mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mat-table th, .mat-table td {
    padding: 8px;
  }
  
  .mat-table th {
    background-color: #f2f2f2;
  }

  .mat-table tr:hover {
    background-color: #a6c1ca;
  }