<ng-content></ng-content>
<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>
                Profil oldal
            </mat-card-title>
        </mat-card-header>
       <!-- <mat-card-actions class="div-flex">
            <form [formGroup]="userForm">
            <mat-form-field>
                <span><mat-icon>person</mat-icon></span>
                <input matInput type="text" formControlName="username" readonly/>
            </mat-form-field>
            
            <mat-form-field>
                <span><mat-icon>mail</mat-icon></span>
                <input matInput type="text" formControlName="email" readonly/>
            </mat-form-field>
            </form>
        </mat-card-actions> -->
        <div class="div-flex" *ngIf="examinations.length">
            <mat-card-header>
                <mat-card-title>
                    My appointments
                </mat-card-title>
            </mat-card-header>
            <table mat-table>
                <tr>
                    <th>Referral number</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                <tr *ngFor="let examination of examinations">
                    <td>{{examination.referralNumber}}</td>
                    <td>{{examination.examinationType}}</td>
                    <td>{{examination.examinationStatus }}</td>
                    <td>{{examination.date}}</td>
                </tr>
            </table>
        </div>
    </mat-card>
    </div>

