<button class="btn btn-primary btn-block mb-4" [routerLink]="''">Felhasználó vagyok</button>
<p-messages [(value)]="messages"></p-messages>
<div class="row justify-content-center">
	<div class="col-4">
	<div class="tab-content">
	  <div>
	    <form (ngSubmit)="onSubmitAdminLogin()" id="login_form" name="wf-form-Login" data-name="Login">

	      <div class="form-outline mb-4">
	        <input type="login" id="username" name= "username" class="form-control" [(ngModel)]="username" placeholder="Admin felhasználónév" required />
	      </div>

	      <div class="form-outline mb-4">
	        <input type="password" id="loginPassword" name="password" class="form-control" [(ngModel)]="password" placeholder="Jelszó" required />
	      </div>

	      <button type="submit" class="btn btn-primary btn-block mb-4">Bejelentkezés adminisztrátorként</button>
		  <button class="btn btn-primary btn-block mb-4" [routerLink]="'/admin/register'">Regisztráció</button>
	    </form>
	  </div>
	</div>
	</div>
</div>

