<button mat-raised-button color="primary"  class="btn btn-block mb-4" [routerLink]="''">Felhasználó vagyok</button>
<p-messages [(value)]="messages"></p-messages>
<div class="row justify-content-center">
	<div class="col-4">
	<div class="tab-content">
		<form (ngSubmit)="onSubmitAdminLogin()" id="login_form" name="wf-form-Login" data-name="Login">
    <mat-form-field>
        <mat-label for="email">Felhasználónév: </mat-label>
        <input matInput type="login" id="username" name= "username" data-name="Username" [(ngModel)]="username" placeholder="Felhasználónév" required/>
    </mat-form-field>
    <mat-form-field>
        <mat-label for="password">Jelszó: </mat-label>
        <input matInput type="password" id="loginPassword" name="password" data-name="Password" [(ngModel)]="password" placeholder="Jelszó" required/>
    </mat-form-field>
    <div>
        <span>
            <button mat-raised-button color="primary" type="submit" class="btn btn-block mb-4">Bejelentkezés adminisztrátorként</button>
        </span>
        <span>
            <button mat-raised-button color="secondary" class="btn btn-block mb-4" [routerLink]="'/admin/register'">Regisztráció</button>
        </span>
    </div>
</form>
</div>
</div>
</div>