<mat-dialog-content>
  <p-messages [(value)]="messages"></p-messages>
    <h2>Vizsgálati időpont módosítása</h2>
    <form [formGroup]="newExaminationForm" id="new_examination_form">
      <mat-form-field>
        <input matInput type="text" placeholder="Beutaló száma" name="referralNumber" formControlName="referralNumber" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="Taj szám" name="medId" formControlName="medId" required>
      </mat-form-field>
      <mat-form-field>
      <mat-select placeholder="Vérvétel típusa" name="type" formControlName="examinationType" required>
        <mat-option *ngFor="let type of examinationTypes | keyvalue" [value]="type.key">{{ type.value }}</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Dátum" formControlName="date" [min]="fromDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-select matInput formControlName="time" name="time" placeholder="Időpont" required>
          <mat-option *ngFor="let time of timeSlots | keyvalue" [value]="time.key">{{ time.value }}</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <button class="btn btn-primary" style="float: left;" (click)="saveExamination()">Mentés</button>
    <button class="btn btn-secondary" style="float: right;" (click)="close()">Mégsem</button>
    </form>
  </mat-dialog-content>
